@{
    ViewBag.Title = "Home Page";
}

<style>
    .text, .text:link, .text:visited, .text:active {
        color: white;
    }
</style>

<div class="jumbotron" style="background-color: rgba(136, 136, 136, .7)">
    <h1 class="text">LandMan</h1>
    <p class="lead text">Land Manager, aka LandMan is an in-development app that helps landlords keep their properties and tenants organized under one umbrella.</p>
    <p class="text"><a href="https://asp.net" class="btn btn-primary btn-lg text">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text">Getting started</h2>
        <p class="text">
            LandMan lets you register and use your account as either a Tenant, or a Landlord to make
            communication easier between you. It makes it easy to maintain a healthy, effective, and prosperous
            business relationship.
        </p>
        <p class="text"><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text">Get Premium</h2>
        <p class="text">For one easy, cheap payment of $1,000,000, we will let you communicate with your tenants directly through the app!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text">Purpose</h2>
        <p class="text">Knowing that everyone has $1M, we decided it would be the perfect price for the perfect product. We aspire to make everyone rich. Mostly ourselves.</p>
        <p class="text"><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>